.filter {
    display: flex;
    gap: 10px;
}

.filter input {
    width: 100%;
    height: 100%;
    background-color: #16181c;
    border: 1px solid #26282c;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.filter select {
    width: 100%;
    height: 100%;
    background-color: #16181c;
    border: 1px solid #26282c;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
